In [48]:
#GROUP MEMBERS
20L-0999
20L-2097
20L-2192



import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import random
from IPython.display import display #bcz train.head() not working in some places  so for this -> display(train.head())

# Read the file into a DataFrame: df test and train
train = pd.read_csv('/content/train - Sheet1.csv')
test = pd.read_csv('/content/test - Sheet1.csv')
#train.head()


train_copy = train.copy() #copy of train dataset
test_copy = test.copy() #copy of test dataset

train.head()

# drop multiple columns

train.drop(['address', 'famsize','Pstatus','reason','guardian','traveltime','schoolsup','famsup','nursery',
           'higher','internet','romantic','famrel','freetime','goout','Dalc','Walc'], axis=1,inplace=True)

train.drop(['Medu','Fedu','Mjob','Fjob'],axis=1,inplace=True) #axis=1 means column inplace=true 

test.drop(['address', 'famsize','Pstatus','reason','guardian','traveltime','schoolsup','famsup','nursery',
           'higher','internet','romantic','famrel','freetime','goout','Dalc','Walc'], axis=1,inplace=True)

test.drop(['Medu','Fedu','Mjob','Fjob'],axis=1,inplace=True) #axis=1 means column inplace=true 

#  school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
#  sex - student's sex (binary: 'F' - female or 'M' - male)
#  age - student's age (numeric: from 15 to 22)
#  guardian - student's guardian (nominal: 'mother', 'father' or 'other')
#  studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
#  failures - number of past class failures (numeric: n if 1<=n<3, else 4)
#  paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
#  activities - extra-curricular activities (binary: yes or no)
#  health - current health status (numeric: from 1 - very bad to 5 - very good)
#  absences - number of school absences (numeric: from 0 to 93)

#train.columns
#test.columns
display(train.head(7))
display(test.head(7))
#train.info()

train.columns = ['school','gender','age','studytime','failures','extraClasses','activities','health','absences','sessional-1','sessional-2','Final']
test.columns = ['school','gender','age','studytime','failures','extraClasses','activities','health','absences','sessional-1','sessional-2','Final']
display(test.head(7))
display(train.head(7))




#################################### Convert Categorial Variables to Numerical variables ####################################


train['school']=train['school'].replace(['GP'],'0')
train['school']=train['school'].replace(['MS'],'1')

test['school']=test['school'].replace(['GP'],'0')
test['school']=test['school'].replace(['MS'],'1')



train['gender']=train['gender'].replace(['M'],'0')
train['gender']=train['gender'].replace(['F'],'1')

test['gender']=test['gender'].replace(['M'],'0')
test['gender']=test['gender'].replace(['F'],'1')



train['extraClasses']=train['extraClasses'].replace(['no'],'0')
train['extraClasses']=train['extraClasses'].replace(['yes'],'1')

test['extraClasses']=test['extraClasses'].replace(['no'],'0')
test['extraClasses']=test['extraClasses'].replace(['yes'],'1')



train['activities']=train['activities'].replace(['no'],'0')
train['activities']=train['activities'].replace(['yes'],'1')

test['activities']=test['activities'].replace(['no'],'0')
test['activities']=test['activities'].replace(['yes'],'1')



#dtypes to int
train['school']=train['school'].astype(int)
test['school']=test['school'].astype(int)

train['gender']=train['gender'].astype(int)
test['gender']=test['gender'].astype(int)

train['extraClasses']=train['extraClasses'].astype(int)
test['extraClasses']=test['extraClasses'].astype(int)


train['activities']=train['activities'].astype(int)
test['activities']=test['activities'].astype(int)

train.info()
test.info()



#################################### Filling Nulls ####################################

import random
train['school'] = train['school'].fillna(random.randint(0,1))
train['gender'] = train['gender'].fillna(random.randint(0,1))
train['age'] = train['age'].fillna(random.randint(15,22))
train['studytime'] = train['studytime'].fillna(random.randint(1,4))
# train['failures'] = train['failures'].fillna(random.randint(0,4))
train['extraClasses'] = train['extraClasses'].fillna(random.randint(0,1))
train['activities'] = train['activities'].fillna(random.randint(0,1))
train['health'] = train['health'].fillna(random.randint(1,5))
train['absences'] = train['absences'].fillna(random.randint(0,93))
train['sessional-1'] = train['sessional-1'].fillna(random.randint(0,20))
train['sessional-2'] = train['sessional-1'].fillna(random.randint(1,20))
train['Final'] = train['Final'].fillna(random.randint(0,203))


test['school'] = test['school'].fillna(random.randint(0,1))
test['gender'] = test['gender'].fillna(random.randint(0,1))
test['age'] = test['age'].fillna(random.randint(15,22))
test['studytime'] = test['studytime'].fillna(random.randint(1,4))
# train['failures'] = train['failures'].fillna(random.randint(0,4))
test['extraClasses'] = test['extraClasses'].fillna(random.randint(0,1))
test['activities'] = test['activities'].fillna(random.randint(0,1))
test['health'] = test['health'].fillna(random.randint(1,5))
test['absences'] = test['absences'].fillna(random.randint(0,93))
test['sessional-1'] = test['sessional-1'].fillna(random.randint(0,20))
test['sessional-2'] = test['sessional-1'].fillna(random.randint(1,20))
test['Final'] = test['Final'].fillna(random.randint(0,203))



####################################   Normalization   ####################################


# Min-Max scaling

age_norm = (train['age'] - train['age'].min()) / (train['age'].max() - train['age'].min())
absences_norm = (train['absences'] - train['absences'].min()) / (train['absences'].max() - train['absences'].min())
health_norm = (train['health'] - train['health'].min()) / (train['health'].max() - train['health'].min())
sessional1_norm = (train['sessional-1'] - train['sessional-1'].min()) / (train['sessional-1'].max() - train['sessional-1'].min())
sessional2_norm = (train['sessional-2'] - train['sessional-2'].min()) / (train['sessional-2'].max() - train['sessional-2'].min())
final_norm = (train['Final'] - train['Final'].min()) / (train['Final'].max() - train['Final'].min())



# Print the normalized variables

print(age_norm)
train['age'] = age_norm
train['absences']=absences_norm
train['health']=health_norm
train['sessional-1']=sessional1_norm
train['sessional-2']=sessional2_norm
train['Final']=final_norm

age_norm = (test['age'] - test['age'].min()) / (test['age'].max() - test['age'].min())
absences_norm = (test['absences'] - test['absences'].min()) / (test['absences'].max() - test['absences'].min())
health_norm = (test['health'] - test['health'].min()) / (test['health'].max() - test['health'].min())
sessional1_norm = (test['sessional-1'] - test['sessional-1'].min()) / (test['sessional-1'].max() - test['sessional-1'].min())
sessional2_norm = (test['sessional-2'] - test['sessional-2'].min()) / (test['sessional-2'].max() - test['sessional-2'].min())
final_norm = (test['Final'] - test['Final'].min()) / (test['Final'].max() - test['Final'].min())


# Print the normalized age variable
print(age_norm)
test['age'] = age_norm
test['absences']=absences_norm
test['health']=health_norm
test['sessional-1']=sessional1_norm
test['sessional-2']=sessional2_norm
test['Final']=final_norm

stats = test.describe()
print(stats)

#####################################  POPULATING CSV FILES WITH PREPROCESSED DATAAAA  #####################################

train.to_csv('Preprocessed_traindata.csv')
train.to_csv('Preprocessed_testdata.csv')

,school,sex,age,studytime,failures,paid,activities,health,absences,G1,G2,G3
0,GP,F,18,2,0,no,no,3,4,0,11,11
1,GP,F,17,2,0,no,no,3,2,9,11,11
2,GP,F,15,2,0,no,no,3,6,12,13,12
3,GP,F,15,3,0,no,yes,5,0,14,14,14
4,GP,F,16,2,0,no,no,5,0,11,13,13
5,GP,M,16,2,0,no,yes,5,6,12,12,13
6,GP,M,16,2,0,no,no,3,0,13,12,13

,school,sex,age,studytime,failures,paid,activities,health,absences,G1,G2,G3
0,GP,M,18,1,0,no,no,4,10,10,10,11
1,GP,M,17,1,0,no,yes,5,22,11,11,10
2,GP,M,17,1,0,no,no,3,18,13,13,13
3,GP,F,18,4,0,no,yes,3,2,17,17,18
4,GP,F,18,2,0,no,yes,4,0,12,13,13
5,GP,F,17,2,0,no,no,5,12,12,12,14
6,GP,F,18,2,0,no,yes,5,10,12,13,14

,school,gender,age,studytime,failures,extraClasses,activities,health,absences,sessional-1,sessional-2,Final
0,GP,M,18,1,0,no,no,4,10,10,10,11
1,GP,M,17,1,0,no,yes,5,22,11,11,10
2,GP,M,17,1,0,no,no,3,18,13,13,13
3,GP,F,18,4,0,no,yes,3,2,17,17,18
4,GP,F,18,2,0,no,yes,4,0,12,13,13
5,GP,F,17,2,0,no,no,5,12,12,12,14
6,GP,F,18,2,0,no,yes,5,10,12,13,14

,school,gender,age,studytime,failures,extraClasses,activities,health,absences,sessional-1,sessional-2,Final
0,GP,F,18,2,0,no,no,3,4,0,11,11
1,GP,F,17,2,0,no,no,3,2,9,11,11
2,GP,F,15,2,0,no,no,3,6,12,13,12
3,GP,F,15,3,0,no,yes,5,0,14,14,14
4,GP,F,16,2,0,no,no,5,0,11,13,13
5,GP,M,16,2,0,no,yes,5,6,12,12,13
6,GP,M,16,2,0,no,no,3,0,13,12,13

              age   studytime    failures      health    absences  \
count  324.000000  324.000000  324.000000  324.000000  324.000000
mean    16.314815    1.959877    0.185185    3.589506    4.324074
std      1.120992    0.818665    0.580618    1.440679    5.198527
min     15.000000    1.000000    0.000000    1.000000    0.000000
25%     15.000000    1.000000    0.000000    3.000000    0.000000
50%     16.000000    2.000000    0.000000    4.000000    2.000000
75%     17.000000    2.000000    0.000000    5.000000    6.000000
max     22.000000    4.000000    3.000000    5.000000   32.000000

       sessional-1  sessional-2       Final
count   324.000000   324.000000  324.000000
mean     11.799383    11.783951   12.145062
std       2.334265     2.270334    2.505834
min       0.000000     6.000000    0.000000
25%      10.000000    10.000000   11.000000
50%      12.000000    12.000000   12.000000
75%      13.000000    13.000000   14.000000
max      18.000000    18.000000   18.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   school        324 non-null    int64
 1   gender        324 non-null    int64
 2   age           324 non-null    int64
 3   studytime     324 non-null    int64
 4   failures      324 non-null    int64
 5   extraClasses  324 non-null    int64
 6   activities    324 non-null    int64
 7   health        324 non-null    int64
 8   absences      324 non-null    int64
 9   sessional-1   324 non-null    int64
 10  sessional-2   324 non-null    int64
 11  Final         324 non-null    int64
dtypes: int64(12)
memory usage: 30.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   school        325 non-null    int64
 1   gender        325 non-null    int64
 2   age           325 non-null    int64
 3   studytime     325 non-null    int64
 4   failures      325 non-null    int64
 5   extraClasses  325 non-null    int64
 6   activities    325 non-null    int64
 7   health        325 non-null    int64
 8   absences      325 non-null    int64
 9   sessional-1   325 non-null    int64
 10  sessional-2   325 non-null    int64
 11  Final         325 non-null    int64
dtypes: int64(12)
memory usage: 30.6 KB

0      0.428571
1      0.285714
2      0.000000
3      0.000000
4      0.142857
         ...
319    0.428571
320    0.428571
321    0.285714
322    0.571429
323    0.428571
Name: age, Length: 324, dtype: float64
0      0.500000
1      0.333333
2      0.333333
3      0.500000
4      0.500000
         ...
320    0.666667
321    0.500000
322    0.500000
323    0.333333
324    0.500000
Name: age, Length: 325, dtype: float64
              age   studytime    failures      health    absences  \
count  325.000000  325.000000  325.000000  325.000000  325.000000
mean     0.362051    1.901538    0.258462    0.620769    0.136224
std      0.193417    0.840431    0.604227    0.363018    0.177506
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.166667    1.000000    0.000000    0.250000    0.000000
50%      0.333333    2.000000    0.000000    0.750000    0.090909
75%      0.500000    2.000000    0.000000    1.000000    0.181818
max      1.000000    4.000000    3.000000    1.000000    1.000000

       sessional-1  sessional-2       Final
count   325.000000   325.000000  325.000000
mean      0.466667     0.597733    0.614089
std       0.203535     0.180402    0.200417
min       0.000000     0.000000    0.000000
25%       0.333333     0.473684    0.526316
50%       0.466667     0.578947    0.578947
75%       0.600000     0.736842    0.736842
max       1.000000     1.000000    1.000000